
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499601181828'); /* IE9*/
  src: url('iconfont.eot?t=1499601181828#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499601181828') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499601181828') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499601181828#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping:before { content: "\e697"; }

.icon-table:before { content: "\e7af"; }

.icon-wenhao:before { content: "\e6d7"; }

.icon-button:before { content: "\e904"; }

.icon-clock:before { content: "\e620"; }

.icon-charts:before { content: "\e68e"; }

.icon-line:before { content: "\e752"; }

.icon-input:before { content: "\e674"; }

.icon-upload:before { content: "\e68b"; }

.icon-return:before { content: "\e678"; }

